<div class="jumbotron">
  <h3>Thank You!</h3>
  <div class="container">
    <p>The form below contains the raw response:</p>
    <form role="form">
      <div class="form-group">
        <label for="comment">Response:</label>
        <textarea class="form-control" rows="12" id="comment">{{charge}}</textarea>
      </div>
    </form>
  </div>
</div>
